
<form method="get" action="https://www.google.com/search" id="searchform" class="form-inline pull-xs-right">
 <TMPL_UNLESS THEME_BOOTSTRAP><div></TMPL_UNLESS>
  <input name="sitesearch" value="<TMPL_VAR URL>" type="hidden" />
  <input name="q" value="" id="searchbox" size="12" type="text" placeholder="search" class="form-control" />
 <TMPL_UNLESS THEME_BOOTSTRAP></div></TMPL_UNLESS>
</form>
